.Topic .buttons {
  margin-right: 10px;
}

.Topic .voteButton {
  margin: 3px;
}

.Topic .glyph {
  margin-right: 5px;
}

.Topic .title {
  font-weight: bold;
  font-size: 1.3em;
  word-wrap: break-word;
}

.Topic .upvoteCount {
  color: green;
}

.Topic .downvoteCount {
  color: red;
}
